<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fetch using MySQL and Node.js</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    table,
    td,
    th {
      border: 1px solid rgb(240, 13, 13);
      text-align: left;
    }

    table {
      border-collapse: collapse;
      width: 50%;

    }

    .table-data {
      position: relative;
      left: 150px;
      top: 100px;
    }

    th,
    td {
      padding: 15px;
    }
  </style>
</head>

<body>
  <form action="/add_grade" method="POST">
  <div class="table-data">
    <h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
      <tr>
        <th>S.N</th>
        <th>Full Name</th>
        <th>Email Address</th>
        <th>Task File</th>
        <th>Give grade 1 to 5:</th>
        <th>Enter Once Email</th>
      </tr>


      <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
      <tr>
        <td><%=i; %></td>
        <td><%=data.name %></td>
        <td><%=data.email %></td>
        <td><%=data.task %></td>
        < 
          <td><input type="text" placeholder="give grade to student" name="stu_grade" required> </td>
          <td><input type="text" placeholder="enter you Email" name="stu_id" required></td>
          <!-- <td><a href="/user/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/user/delete/<%=data.id%>">Delete</a></td> -->
      </tr>
      <%  i++; }) %>
      <% } else{ %>
      <tr>
        <td colspan="7">No Data Found</td>
      </tr>
      <% } %>
    </table>
    <br>
    <button type="submit" class="loginbtn">submit      
      </button></form>
  </div>
 
</body>

</html>